{{define "base"}}
{{ $otherId := 0}}
{{ if eq $.User.Id 0}}
    {{ $otherId = 1}}
{{ else }}
    {{ $otherId = 0}}
{{end}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}}</title>
        <link rel='stylesheet' href='/static/main.css'>
        <script src="/static/htmx.min.js"></script>
    </head>
    <body>
        <header>
            <h1><a href='/'>Snippetbox</a></h1>
            <input type="hidden" id="otherId" name="otherId" value="{{ $otherId }}">
            <button hx-post="/switch-user" hx-include="#otherId">Switch User</button>
        </header>
        <main>
            {{template "main" .}}
        </main>
        <footer>Powered by <a href='https://go.dev/'>Go</a></footer>
    </body>
</html>
{{end}}