{{define "title"}}Schedule{{end}}

{{define "main"}}
    <h2>Schedule</h2>
    <!-- <form id="schedule-form" hx-post="/schedule" hx-trigger="submit" hx-disabled-elt="#scheduler button" hx-swap="innerHTML" hx-target="#status-title"></form> -->
    <form class="schedule-form" id="schedule-form" hx-post="/schedule" hx-disabled-elt="#scheduler button" hx-target="#scheduler-wrapper" hx-swap="innerHTML" onload="calculateTotals()">
        <div id="scheduler-wrapper">
            {{template "schedule_form" .}}
        </div>
    </form>

<script src="/static/week_view.js"></script>
<script>
let scheduler = document.querySelector("#scheduler")
let hidden = document.querySelector("#slots")
let myForm = document.getElementById('schedule-form')
let selected = new Set()

let bound = false
let dragging = false
let mode = "add"
let touched = new Set()

function syncHiddenInput() {
    hidden.value = JSON.stringify([...selected])
}

function submitForm() {
    updateSelected()
    myForm.requestSubmit()
}

function updateSelected() {
    let selected_elems = document.getElementsByClassName("selected")
    Array.from(selected_elems).forEach(element => {
        selected.add(element.dataset.slot)
    });
    console.log(selected)
    syncHiddenInput()
}

function setSelected(el, active) {
    el.classList.toggle("selected", active)
}

function processSlot(el) {
    const slot = el.dataset.slot

    // if (touched.has(slot)) return
    // touched.add(slot)

    if (!el.disabled) {
        
        if (mode === "add") {
            // selected.add(slot)
            setSelected(el, true)
        } else {
            // selected.delete(slot)
            setSelected(el, false)
        }
    }

    calculateTotals()


    // syncHiddenInput()
}

function handlePointerDown(e) {
    const slot = e.target.closest(".slot")
    if (!slot) return

    dragging = true
    touched.clear()

    console.log(e.target.className)

    if (selected.has(slot.dataset.slot) || e.target.className.includes('selected')){
        mode = "remove"
    } else {
        mode = "add"
    }

    processSlot(slot)
}

function handlePointerOver(e) {
    if (!dragging) return

    const slot = e.target.closest(".slot")
    if (!slot) return

    processSlot(slot)
}

function handlePointerUp() {
    dragging = false
}

function onLoadFunctionality() {
    if (bound) {
        scheduler.removeEventListener("pointerdown", handlePointerDown)
        scheduler.removeEventListener("pointerover", handlePointerOver)
        window.removeEventListener("pointerup", handlePointerUp)
    }

    scheduler = document.querySelector("#scheduler")
    hidden = document.querySelector("#slots")
    myForm = document.getElementById('schedule-form')

    if (!scheduler || !hidden || !myForm) {
        console.log("in reload, not valid elements")
        console.log(scheduler, hidden, myForm)
    }

    selected = new Set()

    dragging = false
    mode = "add"
    touched = new Set()

    scheduler.addEventListener("dragstart", e => {
        e.preventDefault()
    })

    scheduler.addEventListener("pointerdown", handlePointerDown)
    scheduler.addEventListener("pointerover", handlePointerOver)
    window.addEventListener("pointerup", handlePointerUp)

    bound = true

    calculateTotals()
}

onLoadFunctionality()

document.addEventListener("htmx:load", () => {
  console.log("htmx load fired")
})

// ["htmx:afterSwap", "htmx:afterRequest", "htmx:load"].forEach(evt => {
//   document.addEventListener(evt, () => {
//     console.log("EVENT:", evt)
//   })
// })

document.addEventListener("DOMContentLoaded", (e) => {
    console.log("in swap")
    if (e.target.id === "scheduler-wrapper") {
        onLoadFunctionality()
        console.log("ran function")
    }
})

document.body.addEventListener("htmx:afterSwap", (e) => {
    console.log("in swap")
    if (e.target.id === "scheduler-wrapper") {
        onLoadFunctionality()
        console.log("ran function")
    }
})

window.addEventListener("load", () => {
    console.log("binding HTMX listener")

    document.body.addEventListener("htmx:afterSwap", (e) => {
        console.log("in swap", e.target)

        if (e.target && e.target.id === "scheduler-wrapper") {
            onLoadFunctionality()
            console.log("ran function")
        }
    })
})

window.addEventListener("load", (event) => {
    calculateTotals()
})

console.log("A: script loaded")

console.log("B: htmx =", window.htmx)

document.addEventListener("htmx:afterSwap", () => {
    console.log("C: afterSwap fired")
})

document.addEventListener("htmx:load", () => {
    console.log("D: htmx load fired")
})

document.addEventListener("htmx:beforeRequest", () => {
    console.log("beforeRequest fired")
})

document.body.addEventListener("htmx:beforeRequest", e => console.log("beforeRequest", e.detail))
document.body.addEventListener("htmx:beforeSwap", e => console.log("beforeSwap", e.detail, "shouldSwap:", e.detail.shouldSwap))
document.body.addEventListener("htmx:afterSwap", e => console.log("afterSwap", e.detail))
document.body.addEventListener("htmx:afterRequest", e => console.log("afterRequest", e.detail))
document.body.addEventListener("htmx:responseError", e => console.log("responseError", e.detail))
document.body.addEventListener("htmx:swapError", e => console.log("swapError", e.detail))
document.body.addEventListener("htmx:targetError", e => console.log("targetError", e.detail))

</script>
{{end}}

