{{define "title"}}Schedule{{end}}

{{define "main"}}
    <h2>Schedule</h2>
    <!-- <form id="schedule-form" hx-post="/schedule" hx-trigger="submit" hx-disabled-elt="#scheduler button" hx-swap="innerHTML" hx-target="#status-title"></form> -->
    <form id="schedule-form" hx-post="/schedule" hx-trigger="submit" hx-disabled-elt="#scheduler button" hx-target="#scheduler-wrapper" hx-swap="innerHTML">
        <div id="scheduler-wrapper">
            {{template "week_view" .}}
        </div>
        <input type="hidden" name="slots" id="slots">
        <button onclick="submitForm()"{{if and (ne $.Status "Draft") (ne $.Status "Rejected")}} disabled{{end}}>Submit</button>
    </form>

<script>
const scheduler = document.querySelector("#scheduler")
const hidden = document.querySelector("#slots")
const myForm = document.getElementById('schedule-form')
const selected = new Set()

let dragging = false
let mode = "add"
let touched = new Set()

function syncHiddenInput() {
    hidden.value = JSON.stringify([...selected])
}

function submitForm() {
    updateSelected()
    myForm.requestSubmit()
}

function updateSelected() {
    let selected_elems = document.getElementsByClassName("selected")
    Array.from(selected_elems).forEach(element => {
        selected.add(element.dataset.slot)
    });
    console.log(selected)
    syncHiddenInput()
}

function setSelected(el, active) {
    el.classList.toggle("selected", active)
}

function processSlot(el) {
    const slot = el.dataset.slot

    // if (touched.has(slot)) return
    // touched.add(slot)

    if (!el.disabled) {
        
        if (mode === "add") {
            // selected.add(slot)
            setSelected(el, true)
        } else {
            // selected.delete(slot)
            setSelected(el, false)
        }
    }


    // syncHiddenInput()
}

scheduler.addEventListener("pointerdown", e => {
    const slot = e.target.closest(".slot")
    if (!slot) return

    dragging = true
    touched.clear()

    console.log(e.target.className)

    if (selected.has(slot.dataset.slot) || e.target.className.includes('selected')){
        mode = "remove"
    } else {
        mode = "add"
    }

    processSlot(slot)
})

scheduler.addEventListener("pointerover", e => {
    if (!dragging) return

    const slot = e.target.closest(".slot")
    if (!slot) return

    processSlot(slot)
})

window.addEventListener("pointerup", () => {
    dragging = false
})
</script>
{{end}}

