{{define "week_view"}}
<div id="scheduler">
    <h2 id="status-title">{{.Status}}</h2>
    <span>{{ if ne .Schedule.Msg nil }}{{.Schedule.Msg}}{{end}}</span>
    {{range $i := .Days}}
        <div class="day-column" data-day="{{$i}}">
            {{range  $j := $.HourRows}}
                {{range $k := .Slots}}
                    {{$key := printf "%vT%v" $i $k}}
                    <button
                        type="button"
                        class="slot {{if index $.Schedule.Slots $key}} selected{{end}}"
                        data-slot="{{$key}}"
                        {{if and (ne $.Status "Draft") (ne $.Status "Rejected")}} disabled{{end}}>
                        {{$j.Label}}
                    </button>
                {{end}}
            {{end}}
        </div>
    {{end}}
</div>
{{end}}