{{define "week_view"}}
<div id="scheduler">
    <h3 id="status-title">Status: {{.Status}}</h3>
    <span style="padding: .5rem">{{ if ne .Schedule.Msg nil }}{{.Schedule.Msg}}{{end}}</span>
    <span></span>
    <table>
    <tr style="display: flex;">
        <td></td>
    {{range  $i := $.HourRows}}
        <td style="width: 80px">{{$i.Label}}</td>
    {{end}}
    </tr>
    {{range $i := .Days}}
        <tr class="day-row" data-day="{{$i}}" id="day-{{$i}}">
            <td><span>{{ index $.DayStrings $i}}</span></td>
            {{range  $j := $.HourRows}}
                <td>
                <!-- <span>{{$j.Label}}</span> -->
                 <div class="slot-border"></div>
                {{range $k := .Slots}}
                    {{$key := printf "%vT%v" $i $k}}
                    <button
                        type="button"
                        class="slot {{if index $.Schedule.Slots $key}} selected{{end}}"
                        data-slot="{{$key}}"
                        draggable="false"
                        {{if and (ne $.Status "Draft") (ne $.Status "Rejected")}} disabled{{end}}>
                    </button>
                {{end}}
                </td>
            {{end}}
            <td class="day-total">
                <span>Total: </span><span id="day-total-{{$i}}">0.00</span><span> hrs.</span>
            </td>
        </tr>
    {{end}}
    </table>
    <div class="week-total">
        <span>Weekly Total: </span><span id="week-total-value">0.00</span><span> hrs.</span>
    </div>
</div>
{{end}}